/* responsive for small device */

@media only screen and (max-width: 600px) {
    .btn {
        width: 100%;
        font-size: 10px;
        margin: 0;
        padding: 0;

    }

    .small-container {
        display: inline-flex;
    }

    #icon-btn {
        width: 40px;
    }

}